# CODEOWNERS - Define code ownership for pull request reviews
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repo
* @01000001-01001110
